.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}




.navbar {
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.navbar-brand {
  font-size: 36px;
  background: -webkit-linear-gradient(90deg, rgba(180,117,222,1) 0%, rgba(254,101,101,1) 50%, rgba(252,176,69,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
